* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}

.card {
  border: 1px solid #eee;
  width: 200px;
  height: 350px;
  padding: 0.5rem;
  margin: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card {
  width: auto;
  max-width: 95%;
  height: 50%;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 2rem auto;
}

.info-para {
  font-size: 24px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;

  width: 75%;
  height: auto;
}

.matched {
  border: 1px solid yellowgreen;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1500px) {
  .card-container {
    width: 85%;
  }

  .card {
    width: 150px;
    height: 275px;
  }
}

@media screen and (max-width: 800px) {
  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-para {
    font-size: 18px;
  }

  .card-container {
    width: 100%;
  }

  .card {
    width: 125px;
    height: 250px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 75px;
    height: 150px;
  }
}
