* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}

.outro-container {
  height: 76vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.highscores-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highscores {
  width: 50%;
}

.highscore-head {
  margin: 2rem;
}

.data-item {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0.25rem;
}

.play-again-btn {
  padding: 0.25rem;
  font-size: 18px;
  margin: 1rrem;
}

@media screen and (max-width: 1000px) {
  .highscores-container {
    width: 75%;
  }

  .highscores {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .highscores-container {
    width: 90%;
  }

  .highscores {
    width: 90%;
  }
}
